<configuration>

    <appender name="ELASTIC" class="com.ri.vetclinic.config.ElasticAppender">
        <elasticUrl>https://vetclinic-search-6819878082.eu-central-1.bonsaisearch.net:443/spring-logs-2025.05.30/_doc</elasticUrl>
        <username>9ohwncvl1b</username>
        <password>atrm337zae</password>
    </appender>
    <root level="INFO">
        <appender-ref ref="ELASTIC" />
    </root>

</configuration>