<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
</head>
<body>
<h1>Регистрация</h1>

<form id="registerForm">
    <div>
        <label>Ім'я користувача:</label>
        <input type="text" id="username" name="username" required>
    </div>
    <br>
    <div>
        <label>Пароль:</label>
        <input type="password" id="password" name="password" required>
    </div>
    <br>
    <button type="submit">Зареєструватися</button>
</form>

<br>
<p><a href="/login">Вже є аккаунт? Увійти.</a></p>

<div id="message"></div>
</body>
</html>